* {
    box-sizing: border-box;
}

:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #fff;
    --heading-font-family: "Raleway", sans-serif;
    --text-font-family: "Open Sans", sans-serif;
}

.container {
    max-width: 1352px;
    margin: 0 auto;
}

/* BANNER START */

.banner {
    display: flex;
    position: relative;
}

.banner .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner img {
    width: 100%;
}

.banner-title {
    font-family: var(--heading-font-family);
    font-size: 49px;
    line-height: 57px;
    font-weight: 400;
    color: var(--color-black);
    text-align: center;
    margin-top: 130px;
    margin-bottom: 20px;
}

.banner-text {
    font-family: var(--text-font-family);
    color: var(--color-black);
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
}

.button {
    font-family: var(--text-font-family);
    font-weight: 700;
    text-decoration: none;
    border-radius: 40px;
    color: var(--color-white);
    padding: 22px 157px;
    text-align: center;
}

.button-blue {
    background-color: var(--color-primary);
    box-shadow: var(--color-primary-shadow);
}

.banner-button {
    font-size: 16px;
    line-height: 22px;
    margin-top: 38px;
}

/* BANNER END */

/* HEADER START */

header {
    position: relative;
    width: 100%;
}

.logo {
    font-family: var(--heading-font-family);
    font-size: 32px;
    font-weight: 300;
    line-height: 37px;
    color: var(--color-primary);
    text-align: left;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.nav-list ul {
    display: flex;
    justify-content: space-between;
    gap: calc(95px - 24px);

}

.nav-list-link {
    text-decoration: none;
    font-family: var(--text-font-family);
    font-size: 11px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 3.28px;
    text-align: center;
    color: var(--color-grey);
    text-transform: uppercase;
    cursor: pointer;
    padding: 12px 25px;
}

.nav-list-link:hover {
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary);
}


/* HEADER END */

