.button {
  font-family: $text-font-family;
  font-weight: 700;
  text-decoration: none;
  border-radius: 40px;
  color: $color-white;
  padding: 22px 157px;
  text-align: center;
  display: block;
}

.button-blue {
  background-color: $color-primary;
  box-shadow: $color-primary-shadow;
}

.pricing-button {
  padding: 16px 57px;
  margin-top: 55px;
  bottom: -30px;
  position: relative;

  @include mobile {
    margin-top: 0;
  }
}
