.contact {
  .container {
    display: flex;
    max-width: 896px;
    margin-top: 155px;
    margin-bottom: 59px;
    font-family: $text-font-family;

    .contact-column {
      width: 50%;

      .contact-title {
        font-size: 49px;
        line-height: 57px;
      }

      .contact-text {
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        text-align: left;
        color: $color-black;
        margin-top: 22px;
        margin-bottom: 42px;
      }

      .contact-link {
        text-decoration: none;
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        color: $color-grey;
        margin-right: 20px;
        display: inline-flex;
      }

      .mail {
        &:before {
          content: "";
          background-image: url("../assets/Mail Icon.svg");
          width: 27px;
          height: 27px;
          margin-right: 10px;
        }
      }

      .phone {
        &:before {
          content: "";
          background-image: url("../assets/Phone Icon.svg");
          width: 27px;
          height: 27px;
          margin-right: 10px;
        }
      }

    }
  }
}

.contact-form {
  display: flex;
  flex-direction: column;

  .contact-form-input {
    outline: none;
    border: none;
    border-bottom: 1px solid #95989A;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 15px;
    font-weight: 700;
    letter-spacing: 3.28px;
    height: 57px;
    width: 100%;
    padding-bottom: 42px;

    &::placeholder {
      color: #08A6E4;
    }
  }

  .contact-form-checkbox-label {
    margin-top: 30px;
    display: flex;
    cursor: pointer;

    .contact-form-checkbox {
      width: 0;
      height: 0;

      &:after {
        content: "";
        width: 24px;
        height: 24px;
        display: block;
        border: 1px solid #95989A;
        border-radius: 4px;
        background-color: var(--color-white);
      }

      &:checked:after {
        background-image: url("../assets/Checkmark.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 13px;
      }
    }
  }

  .contact-form-checkbox-label-text {
    font-size: 12px;
    line-height: 17px;
    font-weight: 400;
    color: #707070;
    width: 405px;
    height: 108px;
    margin-left: 40px;
  }
}

.contact-form-button {
  align-self: end;
  padding: 20px 97px;
  border: none;
  box-shadow: 5px 10px 14px #07ACE629;
  border-radius: 35px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 59px;
}
